*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/aros/apron/tools/ApronArucoDetect.java
/app/src/main/java/com/aros/apron/tools/AlternateArucoDetect.java
/app/src/main/java/com/aros/apron/tools/OpenCVHelper.java
/app/src/main/java/com/aros/apron/tools/PIDControl.java
git rm --cached app/src/main/java/com/aros/apron/tools/PIDControl.java